openapi: 3.1.0
info:
  title: TD SYNNEX StreamOne ION Cart Products API
  description: The StreamOne ION API is TD SYNNEX's interface for cloud vendors and reseller partners to manage cloud subscriptions, product catalogs, end customers, and orders through a unified platform. The API uses OAuth 2.0 authentication and supports multi-vendor cloud marketplace operations including Microsoft CSP, Azure, and Google Workspace.
  version: v3
  contact:
    url: https://docs.streamone.cloud/
servers:
- url: https://ion.tdsynnex.com/api/v3
  description: Production V3 API
security:
- bearerAuth: []
tags:
- name: Products
  description: Product catalog and SKU operations.
paths:
  /accounts/{accountId}/products:
    get:
      operationId: listProducts
      summary: List Products
      description: Retrieves the product catalog available to the reseller, with filtering by vendor, category, vertical, and currency.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: vendor
        in: query
        schema:
          type: string
        description: Filter by vendor name.
      - name: category
        in: query
        schema:
          type: string
      - name: currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Product list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
  /accounts/{accountId}/products/{productId}:
    get:
      operationId: getProduct
      summary: Get Product
      description: Retrieves detailed information about a specific product including SKUs and pricing.
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: productId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product details returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
components:
  parameters:
    accountId:
      name: accountId
      in: path
      required: true
      schema:
        type: string
      description: The reseller's TD SYNNEX account identifier.
  schemas:
    ProductList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        totalCount:
          type: integer
    Product:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        vendor:
          type: string
        category:
          type: string
        sku:
          type: string
        price:
          type: number
        currency:
          type: string
        description:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
